{% extends 'base.html.twig' %}
{% block title %}{{ 'Message'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <h3>{{ 'Author'|trans }} : {{ app.user.getUsername() }}</h3>

                <div class="col-md-6">
                    <img style="width: 100%" src="{{ asset('uploads/'~ message.imageName() | default('no_image.jpg')) }}" alt="image">
                </div>

                <div class="row col-md-4">
                    <p style="word-wrap: break-word">{{ message.User.username}}</p>
                </div>

                    <p style="word-wrap: break-word">{{ message.User.email }}</p>
                    <p style="word-wrap: break-word">{{ message.text  }}</p>
                    <p>{{ message.getUpdatedAt()|date('Y-m-d H:i:s')  }}</p>
                    {% if  app.user.getUsername() == message.User.username %}

                    <a href="{{ path('message_edit',{'id' : message.id})}}">{{ 'edit'|trans }}</a>
                        <br>
                    <a href="{{ path('message_delete',{'id': message.id}) }}" >{{ 'delete'|trans }}</a>
                    {% endif %}
    </div>

{% endblock %}
