{% extends 'base.html.twig' %}


{% block title %}{{ 'Your Messages'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <table id="messages" class="table table-bordered" style="table-layout: fixed; width:100%">
            <thead>
            <tr>
                <th>{{ 'Image'|trans }}</th>
                <th>{{ 'Text'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <th>
                        <img src="{{ asset('uploads/'~ message.getPhotoName() | default('no_image.jpg')) }}" alt="image"
                             width="200" height="100">
                    </th>
                    <th style="word-wrap: break-word">{{ message.text  }}</th>
                    <th>{{ message.getUpdatedAt()|date('Y-m-d H:i:s')  }}</th>
                    <th><a href="{{ path('message_show',{'id' : message.id}) }}">{{ 'Show'|trans }}</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}